body{
    
    font-family:'Roboto',sans-serif;
    margin:0;
    padding:40px;
}



.contact-butons,
.get-started,
.consultation{
    display:grid;

    grid-template-columns:repeat(2, max-content);

    column-gap:140px;
    row-gap:30px;

    margin-bottom:30px;
}



.contact,
.btn{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    padding:14px 32px;

    border-radius:10px;

    font-size:20px;
    font-weight:500;

    cursor:pointer;
}



.contact{
    background:#4356D6;
    color:white;
    border:none;
}



.contact-btn2,
.started-btn2,
.consultation-btn{
    background:white;
    color:#4356D6;
    border:2px solid #4356D6;
}



.started-btn,
.consultation-btn2{
    background:#4356D6;
    color:white;
    border:none;
}



.contact:hover,
.started-btn:hover,
.consultation-btn2:hover{
    background:#3949c5;
}



.large-title{
    font-size:28px;
    font-weight:700;
    line-height:36px;

    margin-bottom:16px;
}



.body-regular{
    font-size:20px;
    line-height:1.8;

    color:#222;
}
.inside-box
{
    display: flex;
    padding: 15px;
    width: 100%;
    border: 2px solid #E2E7FF;
    margin-bottom: 35px;
    flex-direction: row;
    gap:10px;
    border-radius: 5px;
    background: #FAFBFF;
    
    
}
.inside-box img{
     width: 40px;
    height: 40px;
    
}
.regularity

{ 
    display: flex;
    
    flex-direction: column;
    gap:10px;

}
.regularity-box
{
     display: flex;
     gap: 40px;;

}